<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container mt-5">
      <h2 class="text-center">Mobil</h2>
      <div class="row row-cols-md-4 row-cols-sm-2 row-cols-1 g-2">
        <% data.forEach(x => { %>
        <div class="item">
          <div class="card bg-info">
            <h3 class="text-center"><%= x.type %></h3>
            <p class="text-center"><%= x.brand %></p>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
